@charset "UTF-8";

.container{
    display: flex; /* Os elementos filhos ficarão lado a lado (característica flex)*/
    flex-direction: column; /*É necessário aplicar um flex-direction para deixá-los em coluna (abaixo uns dos outros)*/
    align-items: center;
}

.curso{
    display: flex; /* O display flex se aplica no pai, não nos filhos*/
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px; /* Margin top e bottom 5px; esquerda e direita 0px*/
    cursor: pointer;
}

.curso:hover{
    border-color: #f00;
}

.c1{
    background-color: #ccc;
    color: #444;
}

.c2{
    background-color: #444;
    color: #ccc;
}

.destaque {
    background-color: #444 !important;
    color: #ccc !important;
    border-color: #f00 !important;
}

.destaque:hover {
    border-color: #ccc !important;
}

